html, body{
    width: 100%;
    padding: 0px;
}

/* https://google.github.io/material-design-icons/ */
/* Rules for using icons as black on a light background. */
#app .md-dark {
    color: rgba(0, 0, 0, 1.00) !important;
}
#app .md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.20) !important;
}
#app .container .md-card {

    display:block !important;
    margin: 0px auto !important;
}

/* Customize container */
@media screen and (min-width: 768px) {
    .container {
        max-width: calc(100% - 20px);
        margin: 20px;
    }

    .portfolio-guidepost-content .md-card {
        width: 360px;
        height: 300px;
        margin: 2px;
        display: inline-block;
        vertical-align: top;
    }

    .portfolio-guidepost-content  .md-card .md-card-media {
        width: 360px;
        height: 300px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
    }
    .portfolio-guidepost-content  .md-card .md-card-area .md-card-header {
        height: 120px;
    }
}
@media screen and (min-width: 900px) {
    .container {
        max-width: calc(100% - 20px);
        margin: 20px;
    }

    .portfolio-guidepost-content .md-card {
        width: 360px;
        height: 300px;
        margin: 2px;
        display: inline-block;
        vertical-align: top;
    }

    .portfolio-guidepost-content  .md-card .md-card-media {
        width: 360px;
        height: 300px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
    }
    .portfolio-guidepost-content  .md-card .md-card-area .md-card-header {
        height: 120px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        max-width: calc(100% - 50px) !important;
        margin: 40px;
    }

    .portfolio-guidepost-content .md-card {
        width: 320px;
        height: 300px;
        margin: 2px;
        display: inline-block;
        vertical-align: top;
    }

    .portfolio-guidepost-content  .md-card .md-card-media {
        width: 320px;
        height: 300px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
    }
    .portfolio-guidepost-content  .md-card .md-card-area .md-card-header {
        height: 120px;
    }
}
@media screen and (min-width: 1280px) {
    .container {
        max-width: calc(100% - 50px) !important;
        margin: 40px;
    }
    
    .portfolio-guidepost-content .md-card {
        width: 400px;
        height: 320px;
        margin: 2px;
        display: inline-block;
        vertical-align: top;
    }

    .portfolio-guidepost-content  .md-card .md-card-media {
        width: 400px;
        height: 320px;
        margin: 0px;
        display: inline-block;
        vertical-align: top;
    }

    .portfolio-guidepost-content  .md-card .md-card-area .md-card-header {
        height: 120px;
    }
}

#toolbar{
    position:sticky;
    top: 1px;
    z-index: 99999;
}
.portfolio-guidepost-content-card:hover,.portfolio-guidepost-content-card:active {
    border: 2px solid rgba(255,255,200,0.5);
}

.md-progress-spinner {
    margin: 24px;
}
.loading-area {
    display: none;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#000;
    filter:alpha(opacity=40);
    -moz-opacity:0.40;
    opacity:0.40;
    z-index:100;
}

.loading-area-inner{
    width: 150px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
